#adminAside {
    width: 220px;
    position: fixed;
    top: 80px;
    left: 0;
    height: calc(100vh - 80px);
    background-color: var(--box-color);
    border-right: 2px solid var(--border-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
}
#adminAside h1 {
    margin-top: 40px;
    font-size: 2rem;
}
#adminAside p {
    font-size: 1rem;
    text-align: center;
}

#adminName{
    font-weight: bold;
    color: var(--primary-color);
}

#adminAside ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 2px solid var(--border-color);
    margin-top: 15px;
    padding-top: 15px;
}
#adminAside li {
    margin-bottom: 15px;
}
#adminAside a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.1rem;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}
#adminAside a:hover {
    background-color: var(--primary-color);
    color: #fff;
}

#closeSideBar {
    position: fixed;
    top: 90px;
    left: 15px;
    background-color: var(--box-color);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1000;
}
#closeSideBar:hover {
    background-color: var(--primary-color);
    color: #fff;
}

#closeSideBar svg{
    width: 20px;
    height: 20px;
}

#adminPanel {
    margin-left: 240px;
    margin-top: 50px;
    padding: 25px;
    font-size: 1.2rem;
}


.panel{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}
.panel h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}
.tableContainer {
    max-height: 300px;
    overflow-y: auto;
    border-radius: 8px;
    align-self: center;
    width: 95%;
}
.panel table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    overflow: auto;
    max-height: 100px;
}


#usersPanel table {
    max-height: 300px;
    overflow-y: auto;
}

.panel th, .panel td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid var(--border-color);
}
.panel th {
    background-color: var(--primary-color);
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
    font-size: 1.1rem;
}
.panel td {
    font-size: 1rem;
}
.panel tr:nth-child(even) {
    background-color: var(--table-even-row);
}
.panel tr {
    transition: background-color 0.1s;
}
.panel tr:hover {
    background-color: var(--table-hover-row);
}


.panel a {
    text-decoration: none;
    color: var(--text-color);
}
.panel a:hover {
    color: var(--primary-color);
}

.edit-btn, .delete-btn , .view-btn {
    padding: 6px 12px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.edit-btn {
    background: #4CAF50;
    color: white;
}
.view-btn {
    background: #2196F3;
    color: white;
}
.delete-btn {
    background: #f44336;
    color: white;
}

.edit-btn:hover {
    background: #45a049;
}

.view-btn:hover {
    background: #1976d2;
}
.delete-btn:hover {
    background: #d32f2f;
}

.panel {
    padding: 20px;
    padding-bottom: 40px;
    margin-left: 0;
    border-bottom: 3px solid var(--border-color);
}

.panel:last-child {
    border-bottom: none;
}

.search-input {
    margin-top:10px;
    padding: 8px 12px;
    width: 300px;
    font-size: 1rem;
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    transition: all 0.3s;
    border-radius: 4px;
    margin-bottom: 10px;
}
.search-input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
    background-color: var(--box-color);
}

#jobsPanel table {
    max-height: 300px;
    overflow-y: auto;
}


.secondary thead th {
    background-color: var(--secondary-color);
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}
.stat-card {
    background-color: var(--box-color);
    padding: 20px;
    border-radius: 8px;
    border: 1px solid transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: border 0.3s;
}
.stat-card:hover {
    border: 1px solid var(--primary-color);
}

.stat-card h3 {
    font-size: 2rem;
    margin: 0;
    color: var(--primary-color);
}
.stat-card p {
    font-size: 1.2rem;
    color: var(--text-color);
}

@media (max-width: 768px) {
    #adminPanel {
        padding: 15px;
        font-size: 1rem;
    }
    #adminPanel h1 {
        font-size: 2.5rem;
    }
    .panel th, .panel td {
        padding: 8px 10px;
        font-size: 0.9rem;
    }
    .search-input {
        width: 100%;
    }
}