.wrapper {
  transform: scale(0.8);
  transform-origin: top center;
  width: 100%;
  display: flex;
  justify-content: center; /* center horizontally */
}



.iconForNav {
  width: 20px;
  margin-bottom: 2px;
}

.account {
  display: flex;
  gap: 24px;
}

.account > a {
  display: inline-block;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.join {
  color: var(--text-color);
  margin: auto 0;
}

.sign {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  margin: auto 0;
}

.sign:link {
  background-color: var(--primary-color);
  color: var(--background-color) !important;
  text-align: center;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  padding: 6px 20px;
}

.sign:hover {
  background-color: var(--box-color);
  color: var(--primary-color) !important;
  transform: translateY(-3px);
}
.job-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 90px;
}
.job-block {
  background: var(--background-color);
  width: 250px;
  text-align: center;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px var( --border-color);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.job-block:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(179, 71, 71, 0.15);
}
.job-block img {
  width: 100;
  height: 80px;
  object-fit: contain;
  margin-bottom: 10px;
}
.job-block h3 {
  margin: 10px 0 5px;
  color: var(--text-color);
}

.job-block p {
  color: gray;
  margin: 0 0 10px;
}

.job-block button {
  background: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 100px;
  border-radius: 6px;
  cursor: pointer;
}

.job-block button:hover {
  background: var(--secondary-color);
}