.container {
  width: 1400px;
  margin: 0 auto;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  margin-top: 5px;
}

.mid-nav {
  display: flex;
  align-items: center;
  gap: 32px;
  background-color: var(--primary-color);
  border-radius: 20px;
  padding: 6px 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.mid-nav a {
  display: flex;
  color: var(--background-color);
  text-decoration: none;
  font-size: 18px;
  gap: 5px;
  padding: 10px 20px;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}

.mid-nav a:hover {
  background-color: var(--box-color);
  color: var(--text-color);
  transform: translateY(-2px);
}

.nav-icon {
}

.nav-icon:hover {
}

.iconForNav {
  width: 20px;
  margin-bottom: 2px;
}

.account {
  display: flex;
  gap: 24px;
}

.account > a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.join {
  color: var(--text-color);
  margin: auto 0;
}

.sign:link {
  background-color: var(--primary-color);
  color: var(--background-color) !important;
  text-align: center;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  padding: 10px 20px;

  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.sign:hover {
  background-color: var(--background-color);
  color: var(--primary-color);
  transform: translateY(-3px);
}

/* Section */

section {
  margin-top: 100px;
  display: flex;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.right > h1 {
  height: 100px;
  font-size: 64px;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.main-img {
  width: 600px;
  margin-left: auto;
}

button {
  font-size: 24px;
  background-color: var(--primary-color);
  color: var(--background-color);
  border-radius: 25px;
  border: none;
  padding: 20px 40px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.13);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

button:hover {
  background-color: var(--box-color);
  color: var(--primary-color);
  transform: translateY(-10px);
}

.learners {
  display: flex;
  align-items: center;
}

.learners > img:first-child {
  margin-left: 0;
}

.learners > img {
  border-radius: 50%;
  margin-left: -30px;
  width: 60px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.learners > div {
  font-size: 18px;
  font-weight: 500;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}


.currentPage {
  border-bottom: 3px solid var(--background-color);
}

.themeToggle{
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 20px;
  background: none;
  border: none;
  color: var(--text-color);
  background: none !important;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
  font-size: 20px;
  transition: color 0.2s ease-in-out, transform 0.4s ease;
}

.themeToggle:hover {
    transform: scale(1.1);
    color: var(--secondary-color);
    cursor: pointer;
}

.themeToggle:active {
    transform: scale(0.9);
}