.wrapper {
  transform: scale(0.8);
  transform-origin: top center;
  width: 100%;
  display: flex;
  justify-content: center; /* center horizontally */
}



.iconForNav {
  width: 20px;
  margin-bottom: 2px;
}

.account {
  display: flex;
  gap: 24px;
}

.account > a {
  display: inline-block;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.join {
  color: var(--text-color);
  margin: auto 0;
}

.sign {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  margin: auto 0;
}

.sign:link {
  background-color: var(--primary-color);
  color: var(--background-color) !important;
  text-align: center;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  padding: 6px 20px;
}

.sign:hover {
  background-color: var(--box-color);
  color: var(--primary-color) !important;
  transform: translateY(-3px);
}

/* Section */

section {
  margin-top: 100px;
  display: flex;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.right > h1 {
  height: 100px;
  font-size: 64px;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.right p {
  font-size: 24px;
  width: 600px;
  margin-top: -50px;
  line-height: 1.4;
}

.main-img {
  width: 600px;
  margin-left: 100px;
}

button {
  font-size: 24px;
  background-color: var(--primary-color);
  color: var(--background-color);
  border-radius: 25px;
  border: none;
  padding: 20px 40px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.13);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

button:hover {
  background-color: var(--box-color);
  color: var(--primary-color);
  transform: translateY(-10px);
}

.learners {
  display: flex;
  align-items: center;
  margin-top: -40px;
}

.learners > img:first-child {
  margin-left: 0;
}

.learners > img {
  border-radius: 50%;
  margin-left: -30px;
  width: 60px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.learners > div {
  font-size: 18px;
  font-weight: 500;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.mid-nav a.currentPage {
  opacity: 1;
}
